@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
    --clr-primary: #6366F1;
    --clr-gradient: var(clr-primary (s0 h50 l100));

    --clr-gray100: #F3F6FF;
    --clr-gray200: #EFF2FC;
    --clr-gray300: #E2E5F1;
    --clr-gray400: #D4D7E5;
    --clr-gray500: #B4B7C9;
    --clr-gray600: #9397AD;
    --clr-gray700: #565973;
    --clr-gray800: #33354D;
    --clr-gray900: #0B0F19;

    

    --container-padding: 1rem;
    --transition-time: all 0.2s; 
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}


        /*MOBILE LÄGE*/
body {
    font-family: "Manrope", sans-serif; 
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
   width: 100%;
   padding-left: var(--container-padding);
   padding-right: var(--container-padding);
   margin-left: auto;
   margin-right: auto;
}



a {
    color: var(--clr-primary);
    text-decoration: none;
}
a:hover {
    color: var(--clr-gray);
    text-decoration: underline;
}

/*knappar*/

.btn-primary {
    background-color: var(--clr-primary);
    color: var(--clr-gray100);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-primary:hover {
    background-color: var(--clr-gray600);
    color: var(--clr-gray100)
}

.btn-primary i {
    margin-right: 0.5rem;
}

.btn-app {
    background-color: var(--clr-gray900);
    color: var(--clr-gray100);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-app:hover {
    background-color: var(--clr-primary);
    color: var(--clr-gray100)
}


.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 3rem;
}

.btn-cirkel {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--clr-gray100);
    background-color: white;
    color: var(--clr-gray700);

}


/*switchen för darkmode */

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
}

.toggle-switch input:checked + .slider {
    background-color: var(--clr-primary);
}
.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-primary);
}
.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--clr-gray100);
}
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-gray600);
    transition: var(--transition-time);
}
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--clr-gray100);
    transition: var(--transition-time);
}
.toggle-switch .slider.round {
    border-radius: 35px;
}
.toggle-switch .slider.round:before {
    border-radius: 50%;
}



.navbar {
    display: none;
}

.nav-link {
    color: var(--clr-gray800);
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--clr-primary);
    text-decoration: underline;
}

.active {
    color: var(--clr-primary);
    text-decoration: underline;
}

#signin-btn {
    display: none;
}



header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "logo sw mobile";
    gap: 1.5rem;
    padding-top: var(--container-padding);
    padding-bottom: var(--container-padding);
   
}



footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer .container {
    font-size: 14px;
    color: var(--clr-gray600);
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: .2rem;
    display: grid;

}

footer .credit {
    display: flex;
    justify-content: center;
    align-items: center;
}



#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

.brand-box {
    border: 1px solid var(--clr-gray300);
    border-radius: 8px;
    height: 100px;
    width: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/*---------MOBILE LÄGE SLUT-----------*/

        /* SURFPLATTSLÄGE */

@media (min-width: 768px) {
    .container {
        max-width:720;
     }

     .btn-toggle-switch .label {
        display: block;
    }

    header .container {
        gap: 3rem;
    }

    footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .credit {
        display: block;
    }

    .brand-box {
        width: 158px;
        height: 98px;  
    } 
    #brands {
        display: flex;
        align-items: center;
        justify-content: center;
    }   

    #brand-5, #brand-6 {
        display: none;
    }
}

/*---------SURFPLATTSLÄGE SLUT--------*/

        /* DESKTOP LÄGE */

@media (min-width:1400px) {
    .container {
        max-width:1320px;
        padding-top: 3rem;
        padding-bottom: 3rem;
     }

    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 2rem;
    }

    #signin-btn {
        display: block;
    }

    .btn-mobile {
        display: none;
    }

    .navbar {
        display: block;
    }

    #brand-5, #brand-6 {
        display: flex;
    }

    .brand-box {
        height: 100px;
        width: 196px;  
    }

}

/*---------DESKTOPLÄGE SLUT--------*/








#hero {

    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
    padding-bottom: 2rem;

    overflow: hidden;

    @media (min-width: 768px) {
        padding-bottom: 0rem;
    }
    .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto; 
        grid-template-areas: "headline"
                            "content";

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto; 
            grid-template-areas: "headline headline"
                                "content images";
        }
        @media (min-width: 1400px) {
            grid-template-columns: 2fr 3fr;
            grid-template-areas: "headline images"
                                "content images";
        }
    }

    .headline {
        grid-area: headline;
        text-align: center;
        
        
        h1 {
            font-size: 34px;
            font-weight: 800;
            color: var(--clr-gray900);

            @media (min-width: 768px) {
                font-size: 44.3px;
            }
            @media (min-width: 1400px) {
                font-size: 56px;
                text-align: left;
                padding-top: 5rem;
            }
            
        }
    }

    .content {
        grid-area: content;
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }

        p {
            font-size: 18px;
            margin-bottom: 2rem;
           
        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width: 1440px) {
                flex-direction: row;
            }

        }

        .discover-more {
            color: var(--clr-gray700);
            font-size: 14px;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem; 
            gap: 1rem;

            @media (min-width: 768px) {
                justify-content: flex-start;
                margin-bottom: 2rem;
            }

            @media (min-width: 1400px) {
                margin-top: 12rem; 
            }
            
        }
    }

    .images {
        position: relative;
        grid-area: images;
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
        .img-back {
            position: absolute;
            z-index: -10;
            bottom: 0;
            right: 100px;
            width: 70%;
            height: auto;

            @media (min-width: 1400px) {
                width: auto;
                right: 230px;
            }

        }
        .img-front {
            position: absolute;
            z-index: -5;
            bottom: 0;
            right: 0;
            width: 70%;
            height: auto;

            @media (min-width: 1400px) {
                width: auto;
            }
        }

       

    }

}







/* -------- APP FEATURES --------- */

#app-features {
    
    .container { 
        padding-bottom: 3rem;
        @media (min-width: 1400px) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-areas: "imgs header-lista"
                                 "imgs header-lista"; 
           
        }   
        
    } 

    .app-features {
        
        h2 {
            text-align: center;
            color: var(--clr-gray900);
            font-size: 28px;
            font-weight: 800;
        }
        
        p {
            text-align: center;
            color: var(--clr-gray700);
            font-size: 18px;
        }

        @media (min-width: 768px) {
            h2 {
                font-size: 33px;
            }
        }
        @media (min-width: 1400px) {
            grid-area: header-lista;
            width: 855px;
            padding-left: 4rem;
            
            p{
                text-align: left;
            }
            h2 {
                text-align: left;
            }
        }   
    
        
    }
    .imgs {
        display: none;

        .iphone {
            position: relative;
            z-index: -10;
            width: 307px;
            height: 683px;
        }
        .card {
            position: relative;
            top: -202%;
            width: 350px;
            height: auto;
            z-index: -5;
        }

        @media (min-width: 1400px) {
            display: inline-block;
            grid-area: imgs;
            display: grid;
            height: 683px;
           
        }
    }

    .lista {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: grid;
    
        .features {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-areas: "ikon rubrik"
                                  "ikon text";
           

            .listikon {
                width: 60px;
                height: 60px;
                grid-area: ikon;
                margin-top: 1.5rem;
            }

            h3 {
                grid-area: rubrik;
                font-size: 20px;
                font-weight: 800;
                padding-left: 1rem;
                padding-top: .5rem;
                margin-bottom: .5rem;
                
            }

            p {
                grid-area: text;
                padding-left: 1rem;
                color: var(--clr-gray700);
                
            }
        
        }

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: 1400px) {
            position: relative;
            left: 7%;
            width: auto; 
            height: 350px;
            display: grid;
            
            
            grid-area: header-lista;
            margin-top: 10rem;
        }   
    }


}

/* ------------- APP FEATURES KLAR ------------- */






/* ------------- HOW DOES IT WORK ------------- */

#howdoesitwork {

    background-color: var(--clr-gray100);

    .container {

        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;

        h2 {
            font-size: 28px;
            font-weight: 800;

            @media (min-width: 768px) {
                font-size: 33.5px;
            }

            @media (min-width: 1400px) {
                font-size: 40px;
                color: var(--clr-gray900);
            }
        }

        .imgs-mobile {
            .iphone-skal {
                padding-top: 1rem;
                padding-bottom: 1rem;
                position: absolute;
                width: 270px;
                height: 545px;
            }
            .iphone-innehall {
                padding-top: 1rem;
                padding-bottom: 1rem;
                position: relative;
                width: 270px;
                height: 545px;
                
            }
            .imgs-tablet {
                display: none;
            }
            @media (min-width: 768px) {
                display: flex;
                justify-content: center;
                .imgs-tablet {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    display: block;
                    width: 200px;
                    height: 410px;
                }
                .iphone-skal, .iphone-innehall {
                    width: 200px;
                    height: 410px;
                }
            }

            @media (min-width: 1400px) {
                .imgs-tablet, .iphone-skal, .iphone-innehall {
                    display: none;
                }
            }
        }

        .imgs-desktop {
            display: none;

            @media (min-width: 1400px) {

                display: block;
                
                
                .iphone-left {
                    margin-right: 7rem;
                    width: 292px;
                    height: 630px;
                }
                .iphone-right {
                    margin-left: 7rem;
                    width: 292px;
                    height: 630px;
                }
                .iphone-mid {
                    margin: auto;
                    width: 292px;
                    height: 630px;
                }
            }
        }

        .mobile-h3 {
            padding-left: 3rem;
            padding-right: 3rem;
            font-size: 22px;
            font-weight: 800;
        }

        .desktop-h3,  .desktop-p, .tablet-h3, .tablet-p {
            display: none;
        }

        @media (min-width: 768px) {
            .mobile-h3 {
                display: none;
            }
            .mobile-p {
                display: none;
            }

            .tablet-h3 {
                display: block;
                width: 400px;
                margin: auto;
                padding-top: 1rem;
                padding-bottom: 1rem;
                font-size: 22px;
                font-weight: 800;
                
            }
            .tablet-p {
                width: 400px;
                display: block;
                margin: auto;
            }
        }
        @media (min-width: 1400px) {
            .tablet-h3, .tablet-p {
                display: none;
            }
            .desktop-h3 {
                display: block;
                font-size: 24px;
                font-weight: 800;
                color: var(--clr-gray900);
                
                
            }
            .desktop-p {
                display: block;
                color: var(--clr-gray700);
                width: 630px;
                margin: auto;
                padding-top: .1rem;
                
            }

        }
    }


}

/* ------------- HOW DOES IT WORK SLUT ------------- */





/* ------------- SIDA 4 ------------- */

#sidafyra {
    display: none;

    @media (min-width: 1400px) {
        display: block;
        
        .container2 {
            padding-left: 12rem;
            padding-top: 4rem;
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: "information images"
                                "images2 bankinfo";
            .btn {
            align-items: center;
            justify-content: center;
            display: flex;
            width: 159px;
            height: 44px;
            border: 1px ;
            border-radius: 8%;
            background-color: var(--clr-primary);
            color: white;
            font-size: 14px;
            font-weight: 600;
            span {
                padding-right: .5rem;
                }
            }
            .btn:hover {
                background-color: var(--clr-gray600);
                color: white;
            }

            .information {
                margin-top: 3rem;
                margin-left: 15rem;

                width: 416px;
                height: 302px;

                grid-area: information;
                

                h2 {
                    font-size: 32px;
                    font-weight: 800;
                    color: var(--clr-gray900);
                }
                ul {
                    color: var(--clr-gray700);
                    list-style:none;
                    margin: 0; 
                    padding: 0;
                    padding-bottom: 2rem;
                
                    
                }
                ul li {
                    background:url(images/circle.svg) no-repeat 0 0;
                    padding-left: 1.5rem;
                    
                }

                

            }

            .images {
            
                grid-area: images;
                margin-left: 2rem;
                

                .inner {
                    width: 416px;
                    height: 393px;
                    position: relative;
                }
                .outer {
                    position: relative;
                    width: 261px;
                    height: 117px;
                    bottom: 12%;
                    left: 13%;
                }
            }

            .images2 {
                margin-left: 15rem;
                width: 526px;
                height: 500px;
                
                grid-area: images2;
                
                .contacts {
                    width: 412px;
                    height: 449px;
                }
                .card2 {
                    position: relative;
                    width: 350px;
                    height: 260px;
                    bottom: 70%;
                    left: 23%;
                }
            }

            .bankinfo {
                margin-left: 1rem;
                margin-top: 1rem;
                grid-area: bankinfo;
                
                h2 {
                    font-size: 32px;
                    font-weight: 800;
                    color: var(--clr-gray900);
                }
                .flex {
                    display: flex;
                    width: 530px;
                    height: 154px;
                }
                .bank1 {
                    width: 243px;
                    height: 154px;
                    padding-bottom: 2rem;
                    display: flex;
                    flex-direction: column;
                    .payments1 {
                        width: 60px;
                    }
                }
                .bank2 {
                    width: 243px;
                    height: 154px;
                    display: flex;
                    flex-direction: column;
                    .cashback1 {
                        width: 60px;
                    }
                }
            }

            

        }
    }
/* ------------- SIDA 4 SLUT ------------- */
